/*header*/
.app-header{
    background-color: rgb(200,162,200);
    padding: 10px;
}

.app-header .logo-container{
    display: inline-block;
}

.app-header .navig {
    display: inline-block;
    float: right;
}

.app-header .logo-container .logo {
    margin: 0 0 0 70px;
    font-weight: 600;
}
.app-header .logo-container .logo a{
    color: #ffffff;
    text-decoration: none;
}

.app-header .navig ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 15px;
}

.app-header .navig ul li {
    display: inline-block;
}

.app-header .navig ul li a{
    margin-right: 70px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

/* ---All products for sale--- */
.product-offer-container-small .small-img-product {
    text-align: center;
}

.product-offer-container-small .small-img-product img {
    width: 200px;
}

.product-form-container label{
    width:140px;
}

.product-form-container input{
    width:200px;
}


/* ---All categories list style--- */

.table-row-light {
    background-color: #faf2cc;
}

.table-row-dark{
    background-color: #d6e9c6;
}