/*header*/
.app-header{
    background-color: rgb(200,162,200);
    padding: 10px;
    overflow: auto;
}

.app-header .logo-container{
    display: inline-block;
}

.app-header .navig {
    display: inline-block;
    float: right;
}

.app-header .logo-container .logo {
    margin: 0 0 0 70px;
    font-weight: 600;
}
.app-header .logo-container .logo a{
    color: #ffffff;
    text-decoration: none;
}

.app-header .navig ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 15px;
}

.app-header .navig ul li {
    display: inline-block;
    margin-right: 70px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}

.app-header .navig ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

/* -- dropdown menu categories -- */

/*.dropdown-categories {*/
    /*display: none;*/
/*}*/

.dropdown{
    position: relative;
    cursor: pointer;
}

.dropdown-categories{
    display: none;
    z-index: 9999;
    position: absolute;
    list-style-type: none;
    background: rgba(59, 89, 152, 0.9);
    border-radius: 5px;
    /*width: 100px;*/
    /*left: 25px;*/
    top: 35px;
    padding: 2px;
}

.dropdown-categories li{
    display: block!important;
}

.dropdown-categories a{
    width: 100px;
}

/* ---All products for sale--- */
.product-offer-outer-container-small {
    height: 350px;
}

.product-offer-inner-container-small{
    margin:30px;
}

.product-offer-outer-container-small .product-offer-inner-container-small .small-img-product {
    display: table;
    margin: 0 auto;
    /*text-align: center;*/
    height: 160px;
}

.img-content{
    display: table-cell;
    vertical-align: middle;
}


.img-content img {
    /*width: 200px;*/
    max-width: 200px;
    max-height: 150px;
    transition: all 0.2s;
}

.img-content img:hover {
    /*width: 200px;*/
    max-width: 207px;
    max-height: 157px;
}

.product-form-container label{
    width:140px;
}

.product-form-container input{
    width:200px;
}

/* -- cart table style -- */
.current-cart-container, .current-order-container{
    padding: 20px;
}

.current-cart-container .cart-table th,
.products-table th,
.order-table th{
    width: 14%;
}

.current-cart-container .cart-table input[type=number] {
    width: 70px;
    padding: 5px;
}

.current-cart-container .cart-table .cart-row,
.products-table .products-table-row,
.current-order-container .order-table .order-row
{
    height: 160px;
}
.current-cart-container .cart-table .cart-row .table-cell-img,
.products-table .products-table-row .products-table-cell-img,
.current-order-container .order-table .order-row .order-table-cell-img{
    min-height: 170px;
    min-width: 210px;
    text-align: center;
}

/*.current-cart-container .cart-table .cart-row .table-cell-img .align-block{*/
.align-block{
    display: block;
}

    /* ---All categories list style--- */

.table-row-light {
    background-color: #faf2cc;
}

.table-row-dark{
    background-color: #d6e9c6;
}


