{% extends 'base.html.twig' %}

{% block body %}
<h1>Create new Product here!</h1>
    {{ form_start(productForm) }}
{{ form_widget(productForm) }}
    <button type="submit">Create!</button>
    {{ form_end(productForm) }}
{% endblock %}

